<div class="jumbotron">
    <h1>Pam Solution</h1>
    <p class="lead">Welcome to the PAM solution API developed as part of a final year project for plymouth university </p>
    <p><a href="https://www.plymouth.ac.uk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
</div>
